@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
/*GLOBALS */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: "Questrial", sans-serif; }

body {
  display: flex;
  flex-direction: column;
  font-family: "Questrial", sans-serif; }

ul,
ol {
  list-style-type: none; }
  ul li,
  ol li {
    text-decoration: none; }
  ul a,
  ol a {
    text-decoration: none; }

/*PARTIALS*/
header {
  height: 90px;
  display: flex;
  align-items: center;
  /*Centra en el medio en variable y*/ }
  header nav {
    width: 100%; }
    header nav .navbar-brand {
      box-sizing: border-box;
      padding: 10px; }
      header nav .navbar-brand img {
        max-width: 60px;
        padding: 5px 0; }
    header nav #navbarNavDropdown {
      justify-content: flex-end; }
      header nav #navbarNavDropdown li {
        font-size: 16px;
        position: relative; }
        header nav #navbarNavDropdown li > a:hover {
          /*la caja cuando arrastro el cursor*/
          color: black;
          background-color: rgba(194, 189, 189, 0.466); }
        header nav #navbarNavDropdown li > ul {
          display: none;
          position: absolute;
          top: 25px;
          background-color: white; }

#iconos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 20vw;
  height: 20px;
  margin: 4px; }

.iconify {
  width: 20px;
  height: 20px;
  margin: 4px; }

footer {
  font-size: 15px;
  margin: 30px; }

/*PAGES*/
section.iconos_home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  margin: 5em 0; }

section.destacados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0; }
  section.destacados .grid_home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px; }
  section.destacados h2 {
    margin: 30px auto; }
  section.destacados .imagenes {
    max-height: 200px;
    max-width: 200px; }

#productos_aside {
  margin-left: 1rem; }

#productos_aside > h2 {
  padding: 1rem; }

#lista_productos {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 1rem; }

#productos {
  margin-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.catalogo {
  height: 200px;
  width: 200px;
  margin: 20px;
  justify-content: space-between;
  border: 1px solid black;
  transition: transform 0.5s; }

.catalogo:hover {
  transform: scale(2); }

#lista_productos li a {
  text-decoration: none;
  color: black;
  padding: 5px;
  display: block; }

#lista_productos li a:hover {
  cursor: hand;
  text-decoration: underline; }

.grid {
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  grid-template-rows: repeat(3, auto); }

#producto_header {
  grid-column: span 2; }

aside {
  grid-column: span 1; }

#productos_main {
  grid-column: span 1; }

#titulo_peca > h2 {
  flex-direction: row;
  font-size: 20px; }

#quien_soy {
  align-content: center;
  flex-wrap: wrap;
  font-size: 15px; }

.columna h2 {
  text-align: center;
  padding: 2rem; }
